<h1>Registeren voor het SD-Lab</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <div class="form-group">
        <input name="studentenmail" #studentenmail="ngModel" [(ngModel)]="service.formData.studentenmail"
            class="form-control" placeholder="Studentenmail" required>
        <div *ngIf="studentenmail.invalid && studentenmail.touched" class="validation-error">Dit veld is verplicht!
        </div>
    </div>
    <div class="form-group">
        <input type="number" name="studentennummer" #studentennummer="ngModel" [(ngModel)]="service.formData.studentennummer"
            class="form-control" placeholder="Studentennummer" required>
            <div *ngIf="studentennummer.invalid && studentennummer.touched" class="validation-error">Dit veld is verplicht!
            </div>
    </div>
    <div class="form-group">
        <input name="voornaam" #voornaam="ngModel" [(ngModel)]="service.formData.voornaam" class="form-control"
            placeholder="Voornaam" required>
            <div *ngIf="voornaam.invalid && voornaam.touched" class="validation-error">Dit veld is verplicht!
            </div>
    </div>
    <div class="form-group">
        <input name="achternaam" #achternaam="ngModel" [(ngModel)]="service.formData.achternaam" class="form-control"
            placeholder="Achternaam" required>
            <div *ngIf="achternaam.invalid && achternaam.touched" class="validation-error">Dit veld is verplicht!
            </div>
    </div>
    <div class="form-group">
        <input hidden name="status" #status="ngModel" [(ngModel)]="service.formData.status" class="form-control"
            placeholder="status" value="ingediend">
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid"
            class="submit btn btn-lg btn-block btn-info">Registreren</button>
    </div>
</form>