#footer {
    position: fixed;
    height: 25px;
    background-color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 12px;
}

body {
    margin-bottom:50px;
}