<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div id="title" class="nav-item">SD-Lab</div>
  <div *ngIf="canActivate()" class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
  </div>
  <div *ngIf="canActivate()" class="nav-item"><a class="nav-link" routerLink="/booking-overview"
      routerLinkActive="active">Boekingsoverzicht</a></div>
  <div *ngIf="canActivateAdmin()" class="nav-item"><a class="nav-link" routerLink="/register-acceptance"
      routerLinkActive="active">Registratie beoordelen</a></div>

  <div *ngIf="canActivateAdmin()" class="nav-item"><a class="nav-link" routerLink="/booking-acceptance"
      routerLinkActive="active">Boeking beoordelen</a></div>
  <div class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></div>
  <div class="nav-item"><a class="nav-link" routerLink="/register" routerLinkActive="active">Registreren</a></div>
</nav> -->


<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a id="title" class="navbar-brand">SD-Lab</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a *ngIf="canActivate()" class="nav-link" routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a *ngIf="canActivate()" class="nav-link" routerLink="/booking-overview" routerLinkActive="active">Boekingsoverzicht<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a *ngIf="canActivateAdmin()" class="nav-link" routerLink="/register-acceptance" routerLinkActive="active">Registratie beoordelen<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a *ngIf="canActivateAdmin()" class="nav-link" routerLink="/booking-acceptance" routerLinkActive="active">Boeking beoordelen<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Registreren<span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </form>
  </div>
</nav>


<router-outlet></router-outlet>
<app-footer></app-footer>