<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="nav-item">SD-Lab</div>
  <div class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></div>
  <div class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></div>
  <div class="nav-item"><a class="nav-link" routerLink="/booking-overview" routerLinkActive="active">Booking overview</a></div>
  <div class="nav-item"><a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a></div>
  <div class="nav-item"><a class="nav-link" routerLink="/booking-acceptance" routerLinkActive="active">Booking acceptance</a></div>
  
</nav>
<router-outlet></router-outlet>
